// todo
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.desc{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}

.text-primary {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.text-secondary {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.btn-m {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.title-s {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
.title-m{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.title-l{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.title-xl{
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

.title-xxl{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 41px;
}

