.navbar {
    background: transparent;
    position: fixed;
    z-index: 1000;
    width: 100%;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 100%;

        .logo {
            height: 25px;
        }
    
        .menu {
            display: none;
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            color: #000;
            list-style: none;
            a {
                text-decoration: none;
                color: #000;
            }
        }
    
        .menu-side {
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(10px);
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 600;
            color: #000;
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 900px) {
    .navbar {
        .wrapper {
            .menu {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
  }